form {
    border: 1px solid whitesmoke;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 50px auto;
    display: block;
}

#container {
    display: inline-block;
    min-height: 100px;
    max-height: 400px;
    width: 100%;
}

#name {
    width: 100%;
}

#button {
    width: 20%;
    &:hover {
        background: aqua;
        cursor: pointer;
    }
}